{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<main>
  <div class="container wow fadeIn">
    <h2 class="my-5 h2 text-center">Formulario de Checkout</h2>
    <div class="row">
      <div class="col-md-8 mb-4">
        <div class="card">
          <form method="POST" class="card-body">
            {% csrf_token %}

            <h3>Dirección de envío</h3>

            <div class='hideable_shipping_form'>

              <div class="md-form mb-5">
                <input type='text' placeholder='Avenida Reina Mercedes' id='shipping_address' name='shipping_address'
                  class='form-control' />
                <label for="shipping_address" class="">Dirección</label>
              </div>

              <div class="md-form mb-5">
                <input type='text' placeholder='Apartamento' id='shipping_address2' name='shipping_address2'
                  class='form-control' />
                <label for="shipping_address2" class="">Dirección 2 (opcional)</label>
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                  <label for="country">País</label>
                  {{ form.shipping_country }}
                  <div class="invalid-feedback">
                    Por favor selecione un país válido.
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                  <label for="shipping_zip">Código Postal</label>
                  <input type='text' placeholder='Código postal' id='shipping_zip' name='shipping_zip'
                    class='form-control' />
                  <div class="invalid-feedback">
                    Código postal requerido.
                  </div>
                </div>
              </div>
              <div hidden class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="same_billing_address"
                  id="same_billing_address" checked>
                <label class="custom-control-label" for="same_billing_address">Usar la misma dirección de facturación y de envío</label>
              </div>
            </div>

            <h3>Opciones de pago y correo electrónico</h3>

            <div class="d-block my-3">
              {% for value, name in form.fields.payment_option.choices %}
              <div class="custom-control custom-radio">
                <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio"
                  class="custom-control-input" required>
                <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
              </div>
              {% endfor %}
            </div>
            <div class="d-block my-3">
                {% for value, name in form.fields.shipping_option.choices %}
                <div class="custom-control custom-radio">
                <input id="{{ name }}" name="shipping_option" value="{{ value }}" type="radio"
                    class="custom-control-input" required>
                <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                </div>
                {% endfor %}
            </div>
            <input type="text" class="form-control" name="email" id="mce-EMAIL"
              placeholder="Enter your email" required="required">
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continuar con el checkout</button>


          </form>

        </div>

      </div>

      <div class="col-md-4 mb-4">
        {% include "order_snippet.html" %}
      </div>

    </div>

  </div>
</main>

{% endblock content %}

{% block extra_scripts %}
<script>
  var hideable_shipping_form = $('.hideable_shipping_form');

  var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
  use_default_shipping.addEventListener('change', function () {
    if (this.checked) {
      hideable_shipping_form.hide();
    } else {
      hideable_shipping_form.show();
    }
  })

</script>
{% endblock extra_scripts %}