
{% extends "base.html" %}

{% block content %}


<!DOCTYPE html>
<html>
<body>

<h1 style="text-align:center;">Términos y Condiciones</h1>
<p style="text-align:center;">Puede utilizar la información que está disponible en el sitio Supermercados Onix únicamente para uso personal y no lo puede utilizar para su uso comercial, a menos que se indique lo contrario. Para cualquier uso con fines comerciales (por ejemplo, la reproducción), el usuario deberá obtener previamente la autorización de Supermercados Onix y firmar un acuerdo.

    No está permitido el uso de la Web que sea contrario a ley y en particular para los siguientes usos (se mencionan a título meramente enunciativo y no limitativo):
    
    para causar engaño a los demás,
    para atentar contra la moralidad pública,
    para violar derechos de propiedad intelectual o derechos similares,
    para cargar de contenido que contiene virus u otros programas que pueden dañar su ordenador,
    para transmitir, almacenar o cargar hipervínculos o contenidos sobre los que el usuario no tiene derecho, especialmente cuando dichos enlaces o contenidos son ilegales y violan la ley de protección de datos personales,
    para distribuir publicidad o correos electrónicos no solicitados (conocidos como spam)..</p>

</body>
</html>








{% endblock content %}