<!-- Footer -->


<footer class="py-5 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3 m-0 text-center text-white">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="m-0 text-center text-white">
                    A supermarket is a self-service shop offering a wide variety of food.
                </p>
            </div>

           

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto m-0 text-center text-white">
                <h5>Condiciones de Uso</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">

                <ul class="list-unstyled">
               
                    <li><a href="/condiciones/">ir a condiciones de uso</a></li>
               
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto m-0 text-center text-white">
                <h5>Centro de reclamaciones y sugerencias</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">

                <ul class="list-unstyled">
               
                    <li><a href="/opinions/">ir al centro de Reclamaciones y sugerencias</a></li>
               
                </ul>
            </div>

            <div class="m-0 text-center text-white">
                <h5>Contacto</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="mailto:supermarket@onix.com" style="text-decoration:none;"><i class="fa fa-home mr-2"></i>Supermercado Onix</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
