<!-- Footer -->


<footer class="py-5 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3 m-0 text-center text-white">
                <h5>About Us</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="m-0 text-center text-white">
                    Somos un supermercado especializado en ofrecer productos de primera calidad 
                </p>
                <p class="m-0 text-center text-white">
                    Nos caracterizamos por un trato familiar y cercano, a la par que profesional con nuestros clientes 
                </p>

                <p class="m-0 text-center text-white">
                     Ahora con nuestro servicio online, podrás difrutar
                </p>
            </div>

           

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto m-0 text-center text-white">
                <h5>Información Relevante
                </h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">

                <ul class="list-unstyled">
               
                    <li><a href="/condiciones/" class="m-0 text-center text-white">Ir a condiciones de uso</a></li>
                    <li><a href="/politica/" class="m-0 text-center text-white">Ir a política de devoluciones</a></li>
               
                </ul>

            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto m-0 text-center text-white">
                <h5>Atención al cliente</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">

                <ul class="list-unstyled">
               
                    <li><a href="/opinions/" class="m-0 text-center text-white">Ir al centro de atención al cliente</a></li>
               
                </ul>
            </div>

            <div class="m-0 text-center text-white">
                <h5>Contacto</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a class="m-0 text-center text-white" href="mailto:supermarket@onix.com" style="text-decoration:none;"><i class="fa fa-home mr-2"></i>Supermercado Onix</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
