
{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Número de referencia</th>
                  <th scope="col">Fecha de realización de pedido</th>
                  <th scope="col">Dirección de envío</th>
                  <th scope="col">Estado del pedido</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders%}
                <tr>
                  <th scope="row">{{ order.ref_code }}</th>
                  <td>{{ order.ordered_date }}</td>
                  <td>{{ order.shipping_address.street_address }}</td>
                  {% if order.statement == 'RB' %}
                  <td>{{ order.get_statement_display}}</td>
                  {% else %}
                  <td>{{ order.get_statement_display}}</td>
                  <td><button type="button" class="btn btn-primary"><a href="/user/orders/{{ order.id }}/edit">Editar Dirección de envío</a></button></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            
        </table>
    </div>

</body>
</html>
{% endblock %}