{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Resumen del pedido</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre del producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio Total</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.items.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.title }}</td>
            <td>{{ order_item.item.price }}</td>
            <td>
                <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
                €{{ order_item.get_total_item_price }}
            <a style='color: red;' href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Carrito Vacío</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Continuar Comprando</a>
            </td>
        </tr>
        {% endfor %}

        {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Total del pedido</b></td>
            <td><b>€{{ object.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
                <div>
                <form method="POST">
                {% csrf_token %}
                    <div class="d-block my-3">
                        {% for value, name in form.fields.shipping_option.choices %}
                        <div class="custom-control custom-radio">
                        <input id="{{ name }}" name="shipping_option" value="{{ value }}" type="radio"
                            class="custom-control-input" required>
                        <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <button type='submit' class='btn btn-primary'>Finalizar compra</button>
                </form>
                 </div>

                <a class='btn btn-primary float-right' href='/'>Continuar Comprando</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    
    </div>

    </div>
  </main>

{% endblock content %}


